<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Achmad Ghifari ppw story 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style.css' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Achmad Ghifari</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center" id="MeH">
  <h3 class="hello">Hello!</h3>
  <div style = "position:relative; left:525px;">
    <div class="image-cropper">
      <img src="https://maung.id/static/9f2152f448b552bd720fc5ac68a36f96/2f7e7/KR02.jpg" alt="acg" class="img" />
    </div>
  </div>
  <h3> My name is Achmad Ghifari T</h3>
  <h3>NPM: 1906399556</h3>
  <h3> i am 18 years old</h3>
  <a href="https://maung.id/achmad.ghifari" class="btn" role="button"> My Maung.ID page ></a>
</div>

</body>
</html>
