body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .hello{
      font-family: Brush Script MT;
      font-size: 30px;
      color: white;
  }
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color:#1e293b; /*dk blue*/
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: red !important;
  }

  .image-cropper {
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            object-fit: cover;
        }
    .img {
        display: inline;
        margin-left: 0%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 100% 0px; 
    }

    .btn {
        background-color: transparent;
        border-radius: 2px solid #ffffff;
        border-color: #ffffff;
        color: #ffffff;
        margin-bottom: 10px;
  }

    .btn:hover {
        background-color: #474e5d;
        color: #ffffff;
        border-color: red;
  }